@model IEnumerable<TungaRestaurant.Models.Branch>

@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Branches list</h4>
            <p class="text-right">
                <a class="btn btn-gradient-primary" asp-area="Manager" asp-controller="Branch" asp-action="Create">Add new Branch</a>
            </p>
            
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 stretch-card grid-margin ">

                      
                        <div class="card bg-gradient-secondary card-img-holder text-white">

                            <div class="card-body hihi">

                                <img src="~/admin_asset/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">

                                <h4 class="font-weight-normal mb-3">
                                </h4>
                                <h2 class="mb-5">@item.Name</h2>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                <a asp-action="Index" asp-area="Manager" asp-controller="Rooms" asp-route-branch="@item.Id">Show all rooms</a>


                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
