@model IEnumerable<TungaRestaurant.Models.Room>

@{
    ViewData["Title"] = "Index";
}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rooms list</h4>
            <p class="text-right">
                <a class="btn btn-gradient-primary" asp-area="Manager" asp-controller="Tables" asp-action="Create">Add new room</a>
            </p>
            <form asp-action="Index" asp-area="Manager" asp-controller="Rooms" method="get">
                <div class="row">
                    <div class="col-md-2" style="text-align: center; display: inline-block; ">
                        <span class="mt-5">Branch:</span>
                    </div>
                    <div class="col-md-4" style="text-align:center;display:inline-block">
                        <select class="form-select" style="text-align:center" name="branch" onchange="this.form.submit()">

                            @foreach (var item in ViewBag.BranchList)
                            {
                                @if (ViewBag.Branch == item.Id)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }


                            }

                        </select>
                    </div>


                </div>
            </form>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 stretch-card grid-margin ">


                        <div class="card bg-gradient-secondary card-img-holder text-white">

                            <div class="card-body hihi">

                                <img src="~/admin_asset/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">

                                <h4 class="font-weight-normal mb-3">
                                </h4>
                                <h2 class="mb-5">@item.Name</h2>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                <a asp-action="Index" asp-area="Manager" asp-controller="Tables" asp-route-room="@item.Id" asp-route-branch="@Context.Request.Query["branch"]">Show all tables</a>


                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
